@import "tailwindcss";
@import "uplot/dist/uPlot.min.css";

:root {
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  color-scheme: dark;
}

body {
  margin: 0;
  padding: 0;
  background-color: #0f172a;
  color: #f8fafc;
  overflow-x: hidden;
}
